.nav-item a {
    color:#010F1C;
    transition: all 0.4s ease-in-out;
    padding: 5.5px 20px;
    display: block;
}
.nav-item a:hover {
    color:var(--color-amber-500);
}
.btn-contact{
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    background-color: var(--secondary-color);
    font-family: var(--title-font);
    border: none;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 17.5px 30px;
    border-radius: 14px;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.5);
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.5);
    overflow: hidden;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    color: #fff;
}