:root {
    --primary-color: #1979C2;
    --secondary-color: #FFB30F;
    --theme-color: #57B33E;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --text-color: #757F95;
    --white-color: #fff;
    --smoke-color: #E0E0E0;

    --body-color: #4D5765;

    --body-font: "DM Sans", sans-serif;
    --title-font: "Anek Latin", sans-serif;

    --main-container: 1530px;
    --container-gutters: 24px;
    --section-space: 120px;
    --section-space-mobile: 80px;
    --section-title-space: 60px;
    --ripple-ani-duration: 5s;
}