:root {
    --primary-color: #1979C2;
    --secondary-color: #FFB30F;
    --theme-color: #1979C2;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    /* --dark-color: #343a40; */
    --dark-color:#0f0d1d;
    --color-dark: #19232B;

    --border: #e3e3e3;
    --text-color: #757F95;
    --white-color: #fff;
    --smoke-color: #E0E0E0;
    --theme-color-light: rgb(17, 110, 99, 0.09);
    --gradient-bg: linear-gradient(90deg,var(--secondary-color) -10.59%,#3c72fc  300.59%);


    --body-color: #4D5765;

    --box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    --shadow: 0px 4px 25px 0px #0000000f;
    --transition: all .5s ease-in-out;

    --body-font: "DM Sans", sans-serif;
    --title-font: "Anek Latin", sans-serif;

    --main-container: 1530px;
    --container-gutters: 24px;
    --section-space: 120px;
    --section-space-mobile: 80px;
    --section-title-space: 60px;
    --ripple-ani-duration: 5s;
    --icon-font: "Font Awesome 6 Pro";
}