html,
body {
    scroll-behavior: auto !important
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--body-color);
    line-height: 26px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased
}

/* header top */

.header {
    background-color: #fff;
    position: relative;
}

.th-header {
    position: relative;
    z-index: 41;
}

.header-top {
    background-color: var(--primary-color);
    padding: 10.7px 0;
    --body-color: #fff;
}

.header .header-top .container {
    margin-left: auto;
    margin-right: 80px;
}

@media only screen and (min-width: 1300px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: calc(var(--main-container) + var(--container-gutters));
        padding-left: calc(var(--container-gutters) / 2);
        padding-right: calc(var(--container-gutters) / 2);
    }
}


.header .header-links {
    padding-left: 70px;
}

.header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-links li:not(:last-child) {
    margin: 0 58px 0 0;
}

.header-links li,
.header-links span,
.header-links p,
.header-links a {
    color: var(--body-color);
}

.header-links li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    /* font-size: 16px; */
    font-weight: 400;
    font-family: var(--title-font);
}

.header-links li:not(:last-child):after {
    content: '';
    height: 14px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: -32px;
}

.header-links li>i {
    color: var(--secondary-color);
    margin-right: 6px;
}

.social-links .social-title {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 0 0;
    font-family: var(--body-font);
    color: var(--body-color);
}

.social-links a {
    font-size: 14px;
    display: inline-block;
    color: var(--body-color);
    margin: 0 15px 0 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a {
    color: #57B33E;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
}




.main-menu a {
    display: block;
    position: relative;
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
    font-family: var(--body-font);
    text-transform: capitalize
}

.main-menu a:hover {
    color: var(--theme-color)
}

.main-menu>ul>li {
    margin: 0 14px
}

.main-menu>ul>li>a {
    padding: 36.5px 0
}

.main-menu>ul>li>a:hover {
    color: var(--theme-color)
}

.main-menu ul {
    margin: 0;
    padding: 0
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative
}


/* @media only screen and (min-width: 1300px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: calc(var(--main-container) + var(--container-gutters));
        padding-left: calc(var(--container-gutters) / 2);
        padding-right: calc(var(--container-gutters) / 2);
    }
} */

@media (max-width: 1599px) {
    .social-links .social-title {
        display: none;
    }
}

/* Header main */
.header .header-main .container-fluid {
    margin-left: 60px;
    margin-right: 95px;
}

.header .navbar {
    /* --bs-navbar-padding-y: 0.7rem; */
}

.navbar-brand {
    color: var(--white-color);
}

.header .header-main .nav-link {
    display: block;
    position: relative;
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
    font-family: var(--body-font);
    text-transform: capitalize;
    padding: 5.5px 20px;
    transition: all 0.4s ease-in-out;

}

header .header-main .nav-link:hover {
    color: var(--secondary-color);
    background-color: #bba4724d;
    border-radius: 100px;

}

.header .header-main .navbar-collapse {
    margin-left: 200px;
}

.header .header-button .icon-btn img {
    padding-bottom: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.header-button {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
}

.icon-btn {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: var(--btn-font-size, 18px);
    background-color: var(--icon-bg, transparent);
    border: 1px solid var(--smoke-color);
    color: var(--title-color);
    text-align: center;
    border-radius: 14px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.th-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    background-color: var(--secondary-color);
    font-family: var(--title-font);
    border: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 1;
    padding: 17.5px 30px;
    border-radius: 14px;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.5);
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.5);
    overflow: hidden;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.bg-mask {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.header .header-main .logo-bg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 15%;
    height: 74px;
    background-color: var(--primary-color);
    border-radius: 0px 0px 100px 1px;
    z-index: -1;
}

.navbar-toggler {
    background: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

@media (max-width: 768px) {}

/* MENU  offcanvas */
.offcanvas-header {
    background: var(--primary-color);
    color: var(--white-color);
}

.offcanvas-header .btn-close {
    color: var(--white-color) !important;
}

.header .offcanvas-body a.nav-link {

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header .offcanvas-body .navbar-nav a.nav-link i {
    position: absolute;
    left: 90%;
}

.header .offcanvas-body a.nav-link {
    color: #0e121d;
    padding: 12px 0;
}

.header .offcanvas-body a.nav-link i {
    color: var(--secondary-color);
}

/* CAROUSEL */
.carousel .carousel-item {
    height: 735px;
    width: 100%;
    background-size: cover;
}

.carousel .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    bottom: 12rem;
    text-align: start;
}

.carousel-caption .sub-title {
    position: relative;
    font-family: var(--title-fosnt);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFB30F;
    margin-bottom: 10px;
    padding: 0
}

.carousel-caption .hero-title {
    font-size: 120px;
    line-height: 130px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white-color);
    margin-bottom: 30px;
}

/* CAROUSEL FOOTER */
.carousel-footer-asider {
    position: relative;
}

.carousel-footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: -110px;
}

.carousel-footer-item {
    /* border: 1px solid #E5E5E5; */
    height: 250px;
    background: var(--white-color);
    border-radius: 14px;
    /* border-radius: 50px 50px 50px 0px; */
    box-shadow: var(--box-shadow);
    z-index: 1;
}



/* ABOUT SECTION  */
/* .about-section {
    padding: 100px 0;
} */

.about-section {}

.about-right {
    position: relative;
    display: block;
}

.site-heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.site-title-tagline {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
    border-bottom: 2px solid var(--secondary-color);
}

.site-title {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 55px;
    color: var(--color-dark);
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
}

.site-title span {
    color: var(--secondary-color);
}

.about-content {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-info-color);
}

.about-item {
    position: relative;
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.about-item-icon {
    width: 70px;
    height: 70px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 12px;
    background: var(--secondary-color);
    border-radius: 50px;
    font-size: 45px;
    color: var(--theme-color);
    box-shadow: -5px 5px 0 var(--theme-color-light);
}

.about-item-icon img {
    width: 45px;
    filter: brightness(0) invert(1);
}

.about-item-content {
    flex: 1;
}

.about-item-content h5 {
    font-size: 22px;
    margin-bottom: 5px;
    color: var(--color-dark);
}

.about-quote {
    position: relative;
    color: var(--color-dark);
    padding: 20px 22px;
    background: var(--theme-color-light);
    border-radius: 20px;
}

.about-quote i {
    position: absolute;
    font-size: 45px;
    color: var(--primary-color);
    right: 15px;
    bottom: -15px;
}

.about-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

.theme-btn {
    font-size: 14px;
    color: var(--white-color);
    padding: 14px 20px;
    transition: var(--transition);
    text-transform: uppercase;
    position: relative;
    border-radius: 50px 50px 50px 0;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.about-phone {
    display: flex;
    align-items: center;
    gap: 12px;
}

.about-phone .icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: var(--theme-color);
    color: var(--white-color);
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    box-shadow: -5px 5px 0 var(--theme-color-light);
}

/* .about-phone .number {
    line-height: 1;
} */
.about-phone .number h6 a {
    color: var(--theme-color);
}

.about-img .img-1 {
    border-radius: 80px 80px 0 80px;
}

.about-img .img-2 {
    /* border-radius: 50%; */
    border: 2px dashed var(--secondary-color);
    padding: 8px;
}

.about-img .img-3 {
    border-radius: 0 80px 80px 80px;
}

.about-experience {
    display: flex;
    align-items: center;
    text-align: center;
    background: var(--secondary-color);
    padding: 15px 20px 15px 15px;
    color: var(--white-color);
    border-radius: 50px 50px 50px 0;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
}

.about-experience-icon {
    color: var(--primary-color);
    font-size: 65px;
    width: 90px;
    height: 90px;
    line-height: 70px;
    text-align: center;
    margin: auto;
    background: var(--white-color);
    border-radius: 50px;
    margin-bottom: 5px;
}

.about-experience-icon img {
    width: 65px;
}



@media (min-width: 1200px) {
    .d-xl-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 1200px) {
    .header .header-main .logo-bg {
        /* bottom: -22px; */
        bottom: 0px;
    }
}

@media (max-width: 1500px) {
    .header-layout1 .logo-bg {
        width: 22%;
    }
}

@media (min-width: 1930px) {
    .header .header-main .logo-bg {
        width: 15%;
        height: 84px;
    }
}

@media (max-width: 1299px) {
    .header .header-main .logo-bg {
        width: 27%;
    }
}

@media (min-width: 991px) {
    .carousel-caption .hero-title .highlight {
        display: block;
    }
}

@media (max-width: 991px) {
    .header .header-main .logo-bg {
        width: 50%;
        /* bottom: -18px; */
        bottom: 0px;
    }

    .carousel-caption {
        text-align: center;
    }

    .hero-title {
        text-align: center;
        font-size: 76px;
        line-height: 86px;
    }

    .carousel .carousel-item {
        height: 670px;
        width: 100%;
        background-size: cover;
    }

    .carousel-footer-item {
        margin-bottom: 30px;
    }

    .site-title {
        font-size: 45px
    }
}

/* SERVICE */
.services-section {
    padding: 100px 0;
    background: #061B2B;
}

.services-section .container-fluid {
    margin-left: 60px;
    margin-right: 60px;
}

.section-header h5 {
    color: var(--primary-color);
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.section-header h2 {
    text-transform: capitalize;
}


[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.arry-prev,
.arry-next {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: var(--transition);
    color: var(--primary-color);
    transition: var(--transition);
    border: 1px solid var(--primary-color);
    font-size: 20px;
}

.arry-prev.active,
.active.arry-next {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.service-two__item {
    box-shadow: var(--shadow);
    background-color: var(--white-color);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}
.image img {
    width: 100%;
}
.service-two__content {
    position: relative;
    padding: 30px;
    padding-top: 0;
}


.service-two__content .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    transition: var(--transition);
    border-radius: 0;
    background: var(--secondary-color);
    margin-bottom: 30px;
    margin-top: -35px;
    transition: 1s;
}
.service-two__content .shape {
    position: absolute;
    top: 35px;
    right: 0;
    opacity: 0.3;
    transition: var(--transition);
}
.service-two__content h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
}
.service-two__content a{
    color: var(--dark-color);
}
.service-two__content p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.service-two__content p {
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .header .header-main .logo-bg {
        width: 60%;
    }

    .header .header-main .container-fluid {
        margin-right: 20px;
    }
}

@media (min-width: 767px) {
    .header .header-main .container-fiuld {
        margin-right: 20px;
    }
}

@media (max-width: 1117px) {
    .carousel-caption {
        bottom: 16rem;
        text-align: center;
    }

    .carousel-caption .sub-title {
        font-size: 15px;
    }

    .carousel-caption .hero-title {
        /* font-size: 50px;
        line-height: 75px; */
        font-size: 36px;
        line-height: 26px;
    }
}

@media (max-width: 789px) {
    .carousel-caption {
        bottom: 16rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        bottom: 16rem;
        text-align: center;
    }
}